<h1>Nueva tabla</h1>
<p class="lead" >Crea una tabla para una de tus publicaciones:</p>

<%= render "form", board: @board %>

<br>

<div>
  <%= link_to "Volver a tablas", boards_path, class: "btn btn-secondary mb-4 btn-sm" %>
</div>
